# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C# specific ignores
bin/
obj/
*.exe
*.dll
*.pdb
*.mdb
*.log
*.user
*.rsuser
*.suo
*.userprefs
*.csproj.user
*.csproj.vspscc
*.sln.docstates

# TypeScript specific ignores
node_modules/
dist/
*.tsbuildinfo

# TypeScript cache
*.tscache